@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello WORLD</h1>
    <p>My site <a href="https://alihtamrawe.github.io/">More About me</a>.</p>

    <div class="home">
        <p>Home </p>
    </div>

    <div class="containae">
        <p>my station</p>
    </div>
    <div class="side">
        <p>ads</p>
    </div>
    <div class="footer">
        <p>copyRigth 2024</p>
    </div>

</div>
